Freek linssen 

u471688

2014267








# Graded assignment 1

Mark Klik & Misja Mikkers


# Packages

We need the package `tidyverse`

In [17]:
library(tidyverse)

# Assignment 1

First, we generate some random data:

In [18]:
df1 <- as.data.frame(matrix(runif(20*2), ncol=20) )
head(df1)

  V1        V2        V3        V4        V5        V6        V7
1 0.4528474 0.3209758 0.2273321 0.1686677 0.2939528 0.2828275 0.49427942
2 0.5199454 0.4980864 0.9382535 0.4773304 0.5643897 0.6994880 0.02386124
  V8        V9        V10         V11       V12       V13       V14
1 0.9973726 0.7546466 0.007809366 0.2840413 0.8362709 0.2508792 0.3507218
2 0.7224158 0.7334998 0.073082748 0.3403165 0.4333735 0.8321309 0.9196568
  V15       V16       V17       V18        V19        V20
1 0.9096365 0.6321968 0.5436778 0.79500376 0.07882074 0.7105911
2 0.8413561 0.3026909 0.2958197 0.05495002 0.19391389 0.1417311

_df1_ is a wide dataframe. The goal of the assignment is to change _df1_ into a long dataframe _df2_. And show the first rows of the dataframe using `head(df2)`

The dataframe _df2_ should look like this:

| Key | Value      |
|-----|------------|
| V1  | 0.09413864 |
| V1  | 0.69782526 |
| V2  | 0.23460454 |
| V2  | 0.51520514 |
| V3  | 0.63181844 |
| V3  | 0.22807211 |

In [19]:
df2 <- gather(df1, Key, Value, V1:V20) %>%
    arrange()

head(df2)

  Key Value
1 V1  0.4528474
2 V1  0.5199454
3 V2  0.3209758
4 V2  0.4980864
5 V3  0.2273321
6 V3  0.9382535

## Assignment 2

We will generate some data:

In [20]:
df4 <- as.data.frame(read.table(header=TRUE, text='
     V_3            V_4         id                 
      one         1h            1
      two         1h            1
      three       8h            2
      four        1h            4
'))

head(df4)

  V_3   V_4 id
1 one   1h  1
2 two   1h  1
3 three 8h  2
4 four  1h  4

In [21]:
df4 <- as.data.frame(read.table(header=TRUE, text='
     V_3            V_4         id                 
      one         1h            1
      two         1h            1
      three       8h            2
      four        1h            4
'))

head(df4)

  V_3   V_4 id
1 one   1h  1
2 two   1h  1
3 three 8h  2
4 four  1h  4


You will have to merge these files, returning all rows and all columns from both _df3_ and _df5_. Where there are not matching values, return _NA_ for the missings. 

This should be the end result:

| id | V_1      | V_2       | V_3   | V_4 |
|----|----------|-----------|-------|-----|
| 1  | 42.46757 | -87.81005 | one   | 1h  |
| 1  | 42.46757 | -87.81005 | two   | 1h  |
| 2  | 42.04915 | -88.27303 | three | 8h  |
| 3  | 39.11054 | -90.32408 | NA    | NA  |
| 4  | NA       | NA        | four  | 1h  |

In [22]:
df5 <- full_join(df3, df4, by = 'id')
df5

  id V_1      V_2       V_3   V_4
1 1  42.46757 -87.81005 one   1h
2 1  42.46757 -87.81005 two   1h
3 2  42.04915 -88.27303 three 8h
4 3  39.11054 -90.32408 NA    NA
5 4        NA        NA four  1h

End of notebook